<div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>

      
    </ul>
  </nav>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link" (click)="goto('device', 'list')"
              [ngClass]="{'active': menu === 'device'}">
              <i class="nav-icon far fa-circle"></i>
              <p>Devices</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" (click)="goto('emp', 'list')"
              [ngClass]="{'active': menu === 'emp'}">
              <i class="nav-icon far fa-circle"></i>
              <p>Employees</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" (click)="goto('record', 'list')"
              [ngClass]="{'active': menu === 'record'}">
              <i class="nav-icon far fa-circle"></i>
              <p>Records</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <ngx-ui-loader></ngx-ui-loader>
    <router-outlet></router-outlet>
  </div>

  <footer class="main-footer">
    <div class="float-right">
      <b>© 2024 <a href="#" style="color: rgb(0, 82, 155);"></a></b>
    </div>
    <div style="color: white">&nbsp;&nbsp;</div>
  </footer>
</div>